# Dependencies
/node_modules
/.pnp
.pnp.*

# Build output
/.next
/out
/build

# Tests
/coverage

# Environment variables
.env*
!.env.example

# Deployment
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and editor files
.DS_Store
Thumbs.db
*.swp
*.swo

# Certificates
*.pem
